In [ ]:
#5.1 Print

In [ ]:
print ('Ini Kelas Algoritma!')

In [ ]:
print ("Ini Kelas Algoritma")

In [ ]:
print ("You're not supposed to be here")

In [ ]:
print ('You're not supposed to be here')

In [ ]:
print ('Bung Tomo berkata "Merdeka atau mati!"')

In [ ]:
print ("Bung Tomo berkata "Merdeka atau mati!"")

In [ ]:
siswa = 30
uang_jajan = 10000
print(siswa)
print(uang_jajan)

print(siswa*uang_jajan)

In [ ]:
nama_depan = 'Charlotte'
nama_tengah = ' '
nama_belakang = "Jocelynne"
print(nama_depan + nama_tengah + nama_belakang)

In [ ]:
#5.2 Input

In [ ]:
nama = input ("Siapa nama kamu? ")
kegiatan = input('Kamu lagi apa' + " " + nama +"? ")
print("Semangat "+ kegiatan + "nya yaaaaa, " + nama + "!")

In [ ]:
uang_cash = input("Berapakah jumlah uang cash kamu? ")
saldo_atm = input ("Berapakah jumlah saldo atm kamu? ")
print("Jumlah semua uang kamu adalah Rp " + uang_cash + saldo_atm)

In [ ]:
uang_cash = input("Berapakah jumlah uang cash kamu? ")
saldo_atm = input ("Berapakah jumlah saldo atm kamu? ")
jumlah_uang = int(uang_cash) +int(saldo_atm)
print("Jumlah semua uang kamu adalah Rp " + str (jumlah_uang))

In [ ]:
type(uang_cash)

In [ ]:
type(saldo_atm)

In [ ]:
type(jumlah_uang)

In [ ]:
beras_andi = input("Berapa berat beras andi? ")
beras_budi = input ("Berapa berat beras budi? ")
jumlah = float(beras_andi) + float(beras_budi)
print ("Jumlah beras andi dan budi " + str(jumlah))

In [ ]:
#5.4 Formatted string

In [ ]:
nama = "Charlotte"
universitas = 'Universitas Udayana'
semester = '2'
print(nama + ' adalah seorang mahasiswa semester ' + semester + ' di ' + universitas + ".")

In [ ]:
print (f'{nama} adalah seorang mahasiswa semester {semester} di {universitas}.')

In [ ]:
print (f"{nama} adalah seorang mahasiswa semester {semester} di {universitas}.")

In [ ]:
#5.5 String Index

In [ ]:
nama = 'nama saya Charlotte'

In [ ]:
print(nama[0:5])

In [ ]:
print(nama[0:-8])

In [ ]:
print(nama[7:-1])

In [ ]:
print(nama[2:-1:3])

In [ ]:
print(nama[:-3])

In [ ]:
print(nama[1:])

In [ ]:
print(nama[:])

In [ ]:
#5.6 String Methods

In [ ]:
judul = 'Jakarta kota metropolitan'

In [ ]:
print(len(judul))

In [ ]:
judul.upper()

In [ ]:
judul.lower()

In [ ]:
judul.find("kota")

In [ ]:
judul.find('metropolitan')

In [ ]:
judul.replace('metropolitan', 'ramai')

In [ ]:
judul.replace('jakarta', 'Papua')

In [ ]:
print('Jakarta' in judul)

In [ ]:
print ('jakarta' in judul)

In [ ]:
#5.7 Operasi Matematika di Python

In [ ]:
print(5+8)
print(5-8)
print(5*8)
print(5/8)
print(5%8)
print(5**8)
x=8
x+=5
print(x)
x-=5
print(x)
x*=5
print(x)

In [ ]:
#5.8 Operator Perbandingan di Python

In [ ]:
x = 8>4
print(x)
x = 4<8
print(x)
x = 8 >= 4
print(x)
x = 4 <= 8
print(x)
x = 4 == 4
print(x)
x = 4 != 8
print(x)

In [ ]:
x = 4>8
print(x)
x = 8<4
print(x)
x = 4>= 8
print(x)
x = 8 <= 4
print(x)
x = 4 == 8
print(x)
x = 4 != 4
print(x)

In [ ]:
#5.9 Operator Logika di Python

In [ ]:
kelereng_budi = 7
kelereng_andi = 6
print(kelereng_budi > 3 and kelereng_andi < 10)

In [ ]:
print(kelereng_budi < 3 or kelereng_andi < 10)

In [ ]:
print(kelereng_andi < 3 or kelereng_andi > 10)

In [ ]:
print(not (kelereng_andi < 3 or kelereng_andi > 10 ))

In [ ]:
#5.10 Operator if di Python

In [ ]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print ("Anda Mendapatkan nilai A")
    print ("Selamat! Nilai anda bagus")
if nilai < 80 and nilai >= 70:
    print ("Anda mendapatkan nilai B")
    print ("Jangan lupa belajar lagi ya!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Next time harus lebih bagus")
if nilai >= 50 and nilai < 60:
    print ("Anda mendapatkan nilai D")
    print ("Maaf, anda harus mengulang tahun depan")
if nilai < 50:
    print ("Anda mendapatkan nilai E")
    print ("Mohon maaf anda harus mengulang tahun depan")

In [ ]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print ("Selamat! Nilai anda bagus")
elif nilai >= 70:
    print ("Anda mendapatkan nilai B")
    print ("Jangan lupa belajar lagi ya!")
elif nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Next time harus lebih bagus")
elif nilai >= 50:
    print ("Anda mendapatkan nilai D")
    print ("Maaf, anda harus mengulang tahun depan")
else:
    print ("Anda mendapatkan nilai E")
    print ("Mohon maaf anda harus mengulang tahun depan")

In [ ]:
tinggi = float(input("Berapakah tinggi anda "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM': 
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

In [ ]:
#5.11 While Loop

In [ ]:
a = 0
while a < 10:
    print("Angka " + str(a)+" masih dibawah 10")
    a += 1

In [ ]:
a = 0
while a < 9:
    print(a * 'o')
    a += 1